Repository NattapolChan/GT3: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc.schema, eslint --fix, eslint, prettier --write

Update README.md
  README.md
Due: none

App structure
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/app/signin/page.tsx
  src/app/tabs/[id]/page.tsx
  src/app/tabs/page.tsx
  src/components/linksnav.tsx
  src/components/mobilemenunav.tsx
  src/components/navbar.tsx
  src/components/navitem.tsx
Due: eslint --fix, eslint, prettier --write

fix(*.config.js): fix tailwind config
  next.config.js
  src/app/layout.tsx
  src/app/signin/page.tsx
  src/app/tabs/[id]/page.tsx
  src/app/tabs/page.tsx
  src/components/linksnav.tsx
  src/components/mobilemenunav.tsx
  src/components/navbar.tsx
  src/components/navitem.tsx
  tailwind.config.js
Due: eslint --fix, eslint

fix(.gitignore): del .vscode
  .gitignore
Due: none

Delete .vscode directory
  .vscode/settings.json
Due: prettier --write

feat(tabs/[id]): add tab display
  src/app/tabs/[id]/page.tsx
Due: eslint --fix, eslint

style(tabs/[id]): change z-ordering
  .lintstagedrc.json
  src/app/tabs/[id]/page.tsx
Due: eslint --fix, eslint, prettier --write

fix(lintstage, eslintignore, tabs/page): fix precommit, key props, dnd
  .eslintignore
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
  src/app/tabs/[id]/page.tsx
  src/components/tabs/dragablenote.tsx
  src/components/tabs/droppablenote.tsx
Due: eslint --fix, eslint, prettier --write

feat(tabs/[id], components/tabs, type/tab.ts): add formik, autosave note editing
  package.json
  pnpm-lock.yaml
  src/app/tabs/[id]/page.tsx
  src/app/tabs/[id]/test/page.tsx
  src/components/tabs/autosave.tsx
  src/components/tabs/debounceasync.tsx
  src/components/tabs/dragablenote.tsx
  src/components/tabs/droppablenote.tsx
  src/components/tabs/eachnotefield.tsx
  src/components/tabs/noteinput.tsx
  src/type/tabs.ts
Due: eslint --fix, eslint, prettier --write

fix(tabs/[id]): handle data changes
  package.json
  pnpm-lock.yaml
  src/app/tabs/[id]/page.tsx
  src/components/tabs/eachnotefield.tsx
  src/components/tabs/noteinput.tsx
  src/type/tabs.ts
Due: eslint --fix, eslint, prettier --write

feat(tabs/[id]): add delete and insert tab bar
  package.json
  pnpm-lock.yaml
  src/components/tabs/.jukit/.jukit_info.json
  src/components/tabs/eachnotefield.tsx
  src/components/ui/hovercard.tsx
Due: eslint --fix, eslint, prettier --write

feat(tabs/[id]): add copy & paste & delete
  package.json
  pnpm-lock.yaml
  src/app/tabs/[id]/page.tsx
  src/components/tabs/eachnotefield.tsx
  src/type/tabs.ts
Due: eslint --fix, eslint, prettier --write

style: updated eslint and prettier + npm run format
  .eslintrc.json
  .prettierrc.json
  package-lock.json
  package.json
  prettier.config.js
  src/components/tabs/autosave.tsx
  src/components/tabs/debounceasync.tsx
  src/components/tabs/dragablenote.tsx
  src/components/tabs/droppablenote.tsx
  src/components/tabs/eachnotefield.tsx
  src/components/tabs/noteinput.tsx
  src/components/ui/hovercard.tsx
  src/type/tabs.ts
Due: eslint --fix, eslint, prettier --write

refactor(dummydata/dummytab): -
  src/app/tabs/[id]/page.tsx
  src/dummydata/dummytab.ts
Due: eslint --fix, eslint

fix(type/tabs.ts): silence Enumerate/IntRange ts error
  src/type/tabs.ts
Due: eslint --fix, eslint

feat(tabs/[id]): play a note (A3) quick demo
  package-lock.json
  src/app/tabs/[id]/page.tsx
Due: eslint --fix, eslint, prettier --write

fix(tabs/[id]): fix responsive
  src/app/tabs/[id]/page.tsx
  src/app/tabs/[id]/test/page.tsx
  src/components/tabs/eachnotefield.tsx
Due: eslint --fix, eslint

refactor(hooks/tone.ts): refactored tonejs useEffect load to create a new hook
  src/app/tabs/[id]/page.tsx
  src/hooks/tone.ts
Due: eslint --fix, eslint

fix(hooks/tone.ts): should use useEffect to wait for the component to mount
  src/app/tabs/[id]/page.tsx
  src/hooks/tone.ts
Due: eslint --fix, eslint

feat(tabs/[id], components/tab/testnotemapping): add tab to note converter
  src/app/tabs/[id]/page.tsx
  src/components/tabs/testnotemapping.tsx
Due: eslint --fix, eslint

feat(tabs/[id]): preprocess audio file -> stft && del dnd feature
  package.json
  pnpm-lock.yaml
  src/app/tabs/[id]/page.tsx
  src/app/tabs/page.tsx
  src/components/tabs/dragablenote.tsx
  src/components/tabs/droppablenote.tsx
  src/dummydata/dummytab.ts
  src/hooks/tone.ts
Due: eslint --fix, eslint, prettier --write

fix(tabs/[id]): wrap tonejs in useEffect
  package.json
  pnpm-lock.yaml
  src/app/tabs/[id]/page.tsx
Due: eslint --fix, eslint, prettier --write

feat(tabs/*): integrate playnote feature
  package.json
  pnpm-lock.yaml
  src/app/tabs/[id]/page.tsx
  src/app/tabs/[id]/test/page.tsx
  src/components/tabs/eachnotefield.tsx
  src/components/tabs/notetotabnumber.tsx
  src/components/tabs/playbar.tsx
  src/type/tabs.ts
Due: eslint --fix, eslint, prettier --write

chore(src/components|dummydata): add new dummy & fix interval
  src/components/tabs/playbar.tsx
  src/components/tabs/testnotemapping.tsx
  src/dummydata/dummytab.ts
Due: eslint --fix, eslint

Path conditions:
  https://json.schemastore.org/lintstagedrc.schema: any of: $schema
  eslint --fix: any of: *.{js,ts,jsx,tsx}
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier --write: any of: *.{json,yml,yaml}
